body {
  color: #232f40;
  background-color: #93aebf;
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  line-height: 1.3;
  margin: auto;
}

}

blockquote {
  margin:40px;
}

blockquote::before {
  content: '“';
}

blockquote::after {
  content: '”';
}

cite {
  margin-left: 40px;
}

cite::before {
  content: '—';
}
