body {
  background-color: #f2f0d8;
  background-image: url("../img/hector-guimard.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Overpass', sans-serif;
  font-size: 16vw;
  text-align: center;
}

h1 {
  margin-top: 20%;
  letter-spacing: 1.75rem;
}

